body {

  padding: 1rem;
  background-color: snow;
 }
 
 .kysymys {
   
   margin: 1rem;
   padding: 1rem;
   text-align: center;
   border-radius: 15px;
   background-color: lightgreen;
 }
 
 .vastausvaihtoehto {
   
   margin: 1rem;
   padding: 1rem;
   text-align: center;
   border-radius: 15px;
   background-color: lightblue;
 }
 
 .vastausvaihtoehto:hover {
   
   background-color: lightskyblue;
   cursor: pointer;
 }
 
 .oikeaVastaus {
   
   margin: 1rem;
   padding: 1rem;
   text-align: center;
   border-radius: 15px;
   
   font-size: 1.25rem;
   color: green;
 }
 
 .vaaraVastaus {
   
   margin: 1rem;
   padding: 1rem;
   text-align: center;
   border-radius: 15px;
   
   font-size: 1.25rem;
   color: red;
 }

 #pisteetAlue {

  display: flex;
  float: right;

  height: 100px;
  width: 100px;
  border-radius: 50%;

  align-items: center;
  justify-content: center;
  
  background-color: purple;
  color: snow;
 }
 
  
 #painikealue {
   
  text-align: center;
 }
  
 #seuraavaKysymysPainike {
    
  padding: 1rem;
 }
 